:root {
    --azul-principal: #0f1b53;
    --dourado: #D4AF37;
    --cinza-claro: #f8f9fa;
}

body {
    font-family: 'Popins', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: var(--cinza-claro);
    color: #333;
}

.navbar {
    background-color: var(--azul-principal);
}

.nav-link {
    color: var(--dourado);

}

.nav-link-hover {
    color: #fff;
}

.hero {
    height: 85vh;
    background-image: url("https://images.unsplash.com/photo-1618221195710-dd6b41faaea6?q=80&w=1400&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    /* <<< coloque sua imagem aqui */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

/* Botão dourado */
.btn-hero {
    background-color: var(--dourado);
    color: var(--azul-principal);
    font-weight: 600;
    border-radius: 30px;
    transition: 0.3s ease;
}

.btn-hero:hover {
    background-color: #f5dda1;
    color: var(--azul-principal);
}

.grid-galeria {
    padding: 40px 80px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 25px;
}

.grid-galeria img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: 6px;
    transition: .3s ease;
    filter: brightness(0.92);
}

.grid-galeria img:hover {
    transform: scale(1.03);
    filter: brightness(0.75)
}

.grid-projetos {
    column-count: 3;
    column-gap: 30px;
    padding: 40px 80px;
}

.projeto-card {
    break-inside: avoid;
    margin-bottom: 35px;
}

.projeto-card img {
    width: 100%;
    border-radius: 6px;
    margin-bottom: 10px;
    filter: brightness(0.95);
    transition: .3s;
}

.projeto-card img:hover {
    transform: scale(1.02);
    filter: brightness(0.85);
}

.projeto-card h5 {
    color: var(--azul-principal);
    font-weight: 600;
    margin: 0;
}

.projeto-card span {
    color: var(--dourado);
    font-weight: 600;
}